# <center> Scientific Programming with Python
## <center> Final assignment: Life Expectancy

**Author:** Patrick Metz (pmetz2s; 9033945)  
**Date:** June 28th, 2021

### Task 1
**Goal**: use the pandas library to import life expectancy data<sup>1</sup> from a given 
csv file into a dataframe, while removing incomplete rows. The data spans most years from 
1960 to 2018 and is constructed as follows:

|Country Name|Country Code|Region|Income Group|1960|1961|...|1969|1976|...|1994|2000|...|2018|
| :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- | :--- |
|Country 1|...|...|...|...|...|...|...|...|...|...|...|...|...|
|Country 2|...|...|...|...|...|...|...|...|...|...|...|...|...|
|⋮|⋮|⋮|⋮|⋮|⋮|⋮|⋮|⋮|⋮|⋮|⋮|⋮|⋮|
|Country n-1|...|...|...|...|...|...|...|...|...|...|...|...|...|
|Country n|...|...|...|...|...|...|...|...|...|...|...|...|...|

**Missing data**: As depicted, data of the years from 1970 to 1975 and from 1995 to 1999 
is missing.

**Data types**: The data type of the year columns is *float*. The other columns possess 
*string* type.

**Reference**: 1) Life expectancy at birth, total (years) | Data (2021). Available online 
at https://data.worldbank.org/indicator/SP.DYN.LE00.IN, checked on 6/1/2021.

In [1]:
import pandas as pd

data_frame = pd.read_csv("life_expectancy_numpy_scipy.csv").dropna() # only fetch complete data

,Country_Name,Country_Code,Region,Income_Group,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,Latin America & Caribbean,high,65.662,66.074,66.444,66.787,67.113,67.435,...,74.872,75.017,75.158,75.299,75.441,75.583,75.725,75.868,76.010,76.152
1,Afghanistan,AFG,South Asia,low,32.446,32.962,33.471,33.971,34.463,34.948,...,60.484,61.028,61.553,62.054,62.525,62.966,63.377,63.763,64.130,64.486
2,Angola,AGO,Sub-Saharan Africa,middle low,37.524,37.811,38.113,38.430,38.760,39.102,...,54.311,55.350,56.330,57.236,58.054,58.776,59.398,59.925,60.379,60.782
3,Albania,ALB,Europe & Central Asia,middle high,62.283,63.301,64.190,64.914,65.463,65.850,...,76.221,76.562,76.914,77.252,77.554,77.813,78.025,78.194,78.333,78.458
5,United Arab Emirates,ARE,Middle East & North Africa,high,51.537,52.560,53.573,54.572,55.555,56.523,...,76.145,76.332,76.521,76.711,76.903,77.095,77.285,77.470,77.647,77.814
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,Samoa,WSM,East Asia & Pacific,middle high,56.902,57.188,57.472,57.756,58.045,58.340,...,71.412,71.663,71.906,72.136,72.351,72.549,72.730,72.895,73.046,73.187
213,"Yemen, Rep.",YEM,Middle East & North Africa,low,29.919,30.163,30.500,30.943,31.501,32.175,...,65.255,65.549,65.768,65.920,66.016,66.066,66.085,66.087,66.086,66.096
214,South Africa,ZAF,Sub-Saharan Africa,middle high,48.406,48.777,49.142,49.509,49.888,50.284,...,56.460,57.669,58.895,60.060,61.099,61.968,62.649,63.153,63.538,63.857
215,Zambia,ZMB,Sub-Saharan Africa,middle low,46.687,47.084,47.446,47.772,48.068,48.351,...,54.130,55.655,57.126,58.502,59.746,60.831,61.737,62.464,63.043,63.510
216,Zimbabwe,ZWE,Sub-Saharan Africa,middle low,53.019,53.483,53.946,54.403,54.849,55.274,...,48.449,50.640,52.896,55.032,56.897,58.410,59.534,60.294,60.812,61.195