In [38]:
import pandas as pd

# <center> Scientific Programming with Python
## <center> Assignment: Planet Satellites

**Author:** Patrick Metz (pmetz2s; 9033945)  
**Date:** June 4th, 2021

#### Task 1
Goal: Import planet data from four given csv files into a single dataframe, while
removing incomplete rows and adding a planet name column. The files contain the following 
data about the satellites of Saturn, Jupiter, Uranus and Earth:

| satellite attribute | measured in | type | least significant figures | meaning |
| :--- | :--- | :--- | :--- | :--- |
| name | n.a. | quoted / string | n.a. | satellite's name|
| semimajor axis | km | float | 6 | orbital diameter of path's major axis|
| period | days | float | 3 | time for one orbit around Saturn |
| eccentricity | n.a. | float | 1 | circularity of orbit, between 0 (circle) and 1 (ellipse) |
| inclination | degrees | float | 1 | tilt of orbit |
| mean diameter | km | float | 2 | average size |
| mass | kg | float | 3 | weight |

In [41]:
planet_data = pd.DataFrame()
csv_files = {"Earth": 'earth_satellites.csv', "Jupiter": 'jupiter_satellites.csv',
             "Saturn": 'saturn_satellites.csv', "Uranus": 'uranus_satellites.csv'}

for (planet_name, csv_file) in csv_files.items():
    data_frame = pd.read_csv(csv_file).dropna()                     # only read in complete data
    data_frame["Planet"] = planet_name
    planet_data = planet_data.append(data_frame, ignore_index=True) # append with consistent index

,Name,Semimajor Axis (km),Period (days),Eccentricity,Inclination (deg),Mean Diameter (km),Mass (kg),Planet
0,Moon,384399.0,27.321700,0.05490,5.1450,3474.8,7.346000e+22,Earth
1,Io,421800.0,1.769000,0.00400,0.0400,7272.4,8.930000e+22,Jupiter
2,Europa,670900.0,3.551810,0.01010,0.4700,6242.8,4.800000e+22,Jupiter
3,Ganymede,1070000.0,7.154553,0.00150,0.1950,10536.4,4.810000e+22,Jupiter
4,Callisto,1883000.0,16.689018,0.00700,0.2810,9637.6,4.820000e+22,Jupiter
5,Pan,133584.0,0.575000,0.00001,0.0001,28.0,4.950000e+15,Saturn
6,Daphnis,136504.0,0.594000,0.00003,0.0036,7.6,7.700000e+13,Saturn
7,Atlas,137666.0,0.602000,0.00120,0.0030,30.2,6.600000e+15,Saturn
8,Prometheus,139378.0,0.613000,0.00220,0.0070,84.2,1.590000e+17,Saturn
9,Pandora,141713.0,0.629000,0.00420,0.0500,81.4,1.370000e+17,Saturn
10,Epimetheus,151452.0,0.695000,0.00970,0.3520,116.2,5.270000e+17,Saturn
11,Janus,151452.0,0.695000,0.00680,0.1640,178.0,1.900000e+18,Saturn
12,Mimas,185537.0,0.942000,0.01960,1.5650,396.0,3.750000e+19,Saturn
13,Methone,194230.0,1.010000,0.01000,0.0100,2.8,3.920000e+15,Saturn
14,Pallene,212283.0,1.154000,0.00400,0.1800,4.4,1.150000e+16,Saturn
15,Enceladus,238037.0,1.370000,0.00470,0.0090,504.0,1.080000e+20,Saturn
16,Tethys,294672.0,1.888000,0.00010,1.0910,1066.0,6.170000e+20,Saturn
17,Dione,377400.0,2.737000,0.00220,0.0280,1123.0,1.100000e+21,Saturn
18,Rhea,527070.0,4.518000,0.00100,0.3600,1529.0,2.310000e+21,Saturn
19,Titan,1221865.0,15.950000,0.02880,0.3120,5151.0,1.350000e+23,Saturn
20,Hyperion,1500934.0,21.280000,0.02320,0.6150,266.0,5.580000e+18,Saturn
21,Iapetus,3560851.0,79.330000,0.02930,8.3130,1471.0,1.810000e+21,Saturn
22,Phoebe,12948000.0,548.020000,0.16350,175.2430,213.0,8.290000e+18,Saturn
23,Miranda,129858.0,1.413000,0.00135,4.4072,474.0,6.590000e+19,Uranus
24,Ariel,190930.0,2.520000,0.00122,0.0167,1159.0,1.660000e+20,Uranus
25,Umbriel,265982.0,4.144000,0.00394,0.0796,1170.0,2.660000e+20,Uranus
26,Titania,436282.0,8.796000,0.00123,0.1129,1578.0,3.660000e+20,Uranus
27,Oberon,583449.0,13.463000,0.00140,0.1478,1522.0,4.660000e+20,Uranus